<!DOCTYPE html>
<html>
<head>
  <title>ReadIt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Flash notices -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Omniauth redirects user to GitHub. After succesful login, user is redirected via callback method. -->
<%= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github) %>
<%= link_to "Cancel GitHub sign in", cancel_user_registration_path %>

<%= yield %>

</body>
</html>
